   
        .jumbotron{
            background-image: url(im.jpg);
            text-align: center;
            margin-top: 50px;
            height: 300px;
            color: white;
        }
        #content{
            text-align: center;
            margin-top: 30px;
        }
        .col{
            margin-left:80px;
            padding-top: 20px;
            width: 350px;
        }
        #appimg{
            width: 90px;
        }
        #footer{
            width: 100%;
            background-color: aqua;
            padding-top: 150px;
            text-align: center;
            margin-top: 50px;
            padding-bottom: 150px;
        }
    